#root {
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
}

.banner {
  width: 100%;
  background-color: #8a1e25; /* blue */
  color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.input-box {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #2f2f2f;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.input-box h2 {
  margin-bottom: 1rem;
  color: white
}

.input-box input,
.input-box select, 
.input-box button {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
}